@import 'mains';

$darkGray: #393939;
$lightGray: #787878;
$marginInit: 18%;
$marginMob: 4%;
$grad: linear-gradient(+45deg, #ed1a6b, #2d77bd);

.mainImg{
    background: url('imgs/glamm_fire_cs.jpg')no-repeat;
    background-size: cover;
    background-position: left;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .name{
        color: white;
        align-self: center;
        margin-bottom: 10px;
        text-shadow: black 2px 2px 7px;
    }
    .tagline{
        font-size: .9em;
        color: white;
        text-align: center;
        margin-top: 0;
        text-shadow: black 2px 2px 3px;
    }
}
.mainImgVzor{
    background: url('imgs/vzor.jpg')no-repeat;
    background-size: cover;
    background-position: left;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .name{
        color: white;
        align-self: center;
        margin-bottom: 10px;
    }
    .tagline{
        font-size: .9em;
        color: white;
        text-align: center;
        margin-top: 0;
    }
}
.mainImgWG{
    background: url('imgs/wooden_germany_cs.jpg')no-repeat;
    background-size: cover;
    background-position: left;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .name{
        color: white;
        align-self: center;
        margin-bottom: 10px;
    }
    .tagline{
        font-size: .9em;
        color: white;
        text-align: center;
        margin-top: 0;
    }
}

//about section
.about{
    width: 100%;
    padding-left: $marginInit;
    padding-right: $marginInit;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    h1{
        color: $darkGray;
        margin-bottom: 15px;
        font-size: 2em;
    }
    p{
        color: $lightGray;
        margin-top: 0;
        margin-bottom: 30px;
        line-height: 1.6em;
    }
    .client{
        padding-right: 50px;
        flex-basis: 50%;
    }
    .task{
        padding-left: 50px;
        flex-basis: 50%;
    }
}
.challenge{
    width: 100%;
    padding-left: $marginInit;
    padding-right: $marginInit;
    text-align: center;
    h1{
        color: $darkGray;
        margin-bottom: 15px;
        font-size: 2em;
    }
    p{
        color: $lightGray;
        margin-top: 0;
        margin-bottom: 30px;
        line-height: 1.6em;
    }
}
.marginVid{
    margin-left: $marginInit;
    margin-right: $marginInit;
    .video{
        margin-top: 70px;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.results{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: $marginInit;
    padding-right: $marginInit;
    margin-top: 10px;
    .header{
        text-align: center;
        color: #393939;
        margin-bottom: 15px;
        font-size: 2em;
    }
    wrapper{
        display: flex;
        flex-direction: row;
        p{
        color: $lightGray;
        margin-top: 10px;
        margin-bottom: 30px;
        line-height: 1.6em;
        }
        .resLeft{
            padding-right: 50px;
            flex-basis: 50%;
        }
        .resRight{
            padding-left: 50px;
            flex-basis: 50%;
        }
    }
}
.download{
    background: $darkGray;
    width: 100%;
    p{
        font-size: 1.3em;
        color: white;
        text-align: center;
        padding-top: 30px;
    }
    .dloadIcons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 30px;
        .apple{
            background: url('imgs/apple.svg')no-repeat;
            background-size: contain;
            background-position: center;
            width: 150px;
            height: 60px;
            margin-right: 10px;
            transition-duration: .2s;
            &:hover{
              opacity: .6;
            }
        }
        .android{
            background: url('imgs/google.svg')no-repeat;
            background-size: contain;
            background-position: center;
            width: 150px;
            height: 60px;
            margin-left: 10px;
            transition-duration: .2s;
            &:hover{
              opacity: .6;
            }
        }
    }    
}
.requestDemo{
    background: none;
    margin-top: 0;
    .contDemo{
        .header{
            color: $darkGray;
            font-weight: 600;
            padding-top: 0;
        }
        .par{
            color: $lightGray;
        }
        wrapper{
            display: block;
            padding-bottom: 30px;
            .btnDemo{
              background: transparent;
              font-size: 1em;
              border: solid 1px $darkGray;
              padding: 6px 24px 6px 24px;
              border-radius: 50px;
              color: $darkGray;
              text-decoration: none;
              transition-duration: .2s;
              &:hover{
                cursor: pointer;
                padding: 6px 33px 6px 33px;
                color: $lightGray;
                border-color: $lightGray;
              }
            }
          }
    }
}
@media screen and (max-width: 1200px) {
    .about, .challenge, .results{
        padding-left: $marginMob;
        padding-right: $marginMob;        
    }
    .marginVid{
        margin-left: $marginMob;
        margin-right: $marginMob;
    }
}

@media screen and (max-width: 964px) {
    .logo {
      padding: 0;
      margin-top: 13px;
      left: 2.5%;;
    }
    .logoFix{
      margin-top: 11px !important;
    }
    .mainImg, .mainImgVzor, .mainImgWG{
      height: 300px;
      background-position: right;
    }
    .nav-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: #fff;
      opacity: 0;
      transition: all 0.2s ease;
      ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
          &:nth-child(1) a {
            transition-delay: 0.2s;
          }
          &:nth-child(2) a {
            transition-delay: 0.3s;
          }
          &:nth-child(3) a {
            transition-delay: 0.4s;
          }
          &:nth-child(4) a {
            transition-delay: 0.5s;
          }
          &:not(:first-child) {
            margin-left: 0;
          }
          a {
            padding: 10px 24px;
            opacity: 0;
            color: $darkGray;
            font-size: .85em;
            transform: translateX(-20px);
            transition: all 0.2s ease;
          }
        }
      }
    }
    .nav-btn {
      position: fixed;
      right: 10px;
      top: 10px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      border-radius: 50%;
      i {
        display: block;
        width: 20px;
        height: 2px;
        background: white;
        border-radius: 2px;
        margin-left: 14px;
        &:nth-child(1) {
          margin-top: 16px;
        }
        &:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
        }
        &:nth-child(3) {
          margin-top: 4px;
        }
      }
    }
  
  #navClick:checked {
    + .nav-btn {
      transform: rotate(45deg);
      i {
        background: #000;
        transition: transform 0.2s ease;
        &:nth-child(1) {
          transform: translateY(6px) rotate(180deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-6px) rotate(90deg);
        }
      }
    }
    ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
      ul li a {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

@media screen and (max-width: 650px) {
    .about{
        flex-direction: column;
        margin-top: 0px;
        .client, .task{
            padding: 0;
            h1{
                text-align: center;
            }
        }
        .task{
            h1{
                margin-top: 0;
            }
        }
    }
    .challenge{
        h1{
            margin-top: 0;
        }
        p{
            text-align: left;
        }
    }
    .marginVid{
        margin-left: 0;
        margin-right: 0;
        .video{
            margin-top: 50px;
        }
    }
    .results{
        wrapper{
        flex-direction: column;
        .resLeft, .resRight{
            padding: 0;
        }
        }
    }
}

@media screen and (max-width: 550px) {
    .mainImg, .mainImgVzor{
        background-position: center;
    }
    .requestDemo{
        .contDemo{
            .header{
                padding-top: 20px;
                margin-top: 0;
            }
            .par{
                margin-top: 20px;
                margin-bottom: 20px;
            }
            wrapper{
                padding-bottom: 10px;
            }
        }
    }
    .download{
        margin-bottom: 20px;
        p{
            padding-top: 20px;
            margin-bottom: 10px;
        }
        .dloadIcons{
            padding-bottom: 20px;
        }
    }
}

@media screen and (max-width: 460px) {
    .download{
        p{
            font-size: 1em;
        }
        .dloadIcons{
            padding-bottom: 20px;
            .android, .apple{
                width: 120px;
            }
        }
    }
}