/*
<!-----------------------coded by---------------------------+
|    _                  _                _         _        |
|   | | ___ _ __   __ _| |__   __ _ _ __| |_   ___| | __    |
|   | |/ _ \ '_ \ / _` | '_ \ / _` | '__| __| / __| |/ /    |
|   | |  __/ | | | (_| | | | | (_| | |  | |_ _\__ \   <     |
|   |_|\___|_| |_|\__, |_| |_|\__,_|_|   \__(_)___/_|\_\    |
|                 |___/                                     |
|                                                           |
+----------------------------------------------------------->
*/
/*==================================MIXINS=====================================*/
/*==================================KEYFRAMES===================================*/
/*==================================RESET======================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: none; }

img {
  max-width: 100%; }

a {
  display: inline-block;
  text-decoration: none; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none; }

/*==================================PATHS======================================*/
/*==================================FONTS======================================*/
/*==================================COLORS=====================================*/
::selection {
  color: white;
  background-color: black; }

::-moz-selection {
  color: transparent;
  background-color: black; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #333333;
  opacity: 1; }
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #333333;
  opacity: 1; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #333333;
  opacity: 1; }
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #333333;
  opacity: 1; }

/*==================================DECLARATIONS===============================*/
html, body {
  font-size: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; }

.container-fluid {
  max-width: 1170px;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.row {
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  margin: 0; }

/*==================================SVG========================================*/
/*==================================ELEMENTS===================================*/
h1 {
  font-size: 70px;
  line-height: 92px;
  color: white;
  font-weight: 500; }

h2 {
  font-size: 46px;
  line-height: 67px;
  color: #121212; }

h3 {
  font-size: 30px;
  line-height: 47px;
  color: #121212; }

p {
  font-size: 18px;
  line-height: 30px;
  color: #818181;
  letter-spacing: 1px; }
  p.sub--title {
    font-size: 22px;
    color: white;
    line-height: 33px;
    padding-top: 30px; }

.btn {
  height: 60px;
  display: inline-block;
  border-radius: 10px;
  line-height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  width: 230px;
  box-sizing: border-box;
  text-align: left;
  padding: 0 25px; }
  .btn.centered {
    text-align: center; }
  .btn.v_1 {
    background: #00b3cc; }
    .btn.v_1.arrow-right {
      background: #00b3cc url(../img/icons/arrow-right-white.svg) no-repeat center right 20px;
      background-size: 30px 9px; }
  .btn.v_2 {
    background: #2D77BD; }
    .btn.v_2.arrow-right {
      background: #2D77BD url(../img/icons/arrow-right-white.svg) no-repeat center right 20px;
      background-size: 30px 9px; }
  .btn.v_3 {
    background: transparent;
    border: 1px solid white;
    width: 170px;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .btn.v_3:hover {
      background: rgba(0, 0, 0, 0.1); }

.link {
  max-width: 255px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #2D77BD;
  position: relative;
  background: url(../img/icons/arrow-right.svg) no-repeat right 15px center;
  background-size: 30px 9px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .link:hover {
    background: url(../img/icons/arrow-right.svg) no-repeat right 0 center;
    background-size: 30px 9px; }

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  border-radius: 10px;
  border: 3px solid white;
  padding: 0 35px;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0 5px 10px;
  flex-basis: calc(50% - 10px);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s; }
  .input:focus {
    border: 3px solid #00b3cc; }

.textarea {
  box-shadow: none;
  height: 210px;
  line-height: 26px;
  font-size: 18px;
  border-radius: 10px;
  border: 3px solid white;
  padding: 25px 35px;
  box-sizing: border-box;
  margin: 0 5px 65px;
  width: calc(100% - 10px);
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s; }
  .textarea:focus {
    border: 3px solid #00b3cc; }

.cursor {
  cursor: pointer; }

.slick-arrow {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 2;
  cursor: pointer; }
  .slick-arrow.prev {
    background: #EFEFEF url(../img/icons/arrow-left-grey-2.svg) no-repeat center center;
    background-size: 30px 9px;
    border-radius: 0 10px 10px 0; }
  .slick-arrow.next {
    background: #00b3cc url(../img/icons/arrow-right-white.svg) no-repeat center center;
    background-size: 30px 9px;
    border-radius: 10px 0 0 10px; }

.slick-dots {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center; }
  .slick-dots li {
    margin: 0 10px; }
    .slick-dots li.slick-active button {
      background: #00b3cc; }
    .slick-dots li button {
      font-size: 0;
      padding: 0;
      margin: 0;
      width: 6px;
      height: 6px;
      border-radius: 2px;
      background: #D9D9D9; }

.video--popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 11, 11, 0.8);
  z-index: 100; }
  .video--popup .flex {
    justify-content: center;
    align-items: center;
    height: 100%; }
  .video--popup .close {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    background: url(../img/icons/Close.png) no-repeat center center;
    background-size: cover;
    width: 14px;
    height: 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .video--popup .close:hover {
      opacity: .8; }

/*==================================HEADER=====================================*/
header {
  background: white;
  padding: 35px 0 0; }
  header .logo {
    text-align: center;
    position: relative; }
    header .logo .burger {
      width: 25px;
      height: 22px;
      position: absolute;
      right: 0;
      top: 16px;
      display: none;
      cursor: pointer; }
      header .logo .burger span {
        width: 25px;
        display: inline-block;
        height: 2px;
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        background: #121212; }
        header .logo .burger span:nth-child(2) {
          margin: 8px 0; }
      header .logo .burger.active span:nth-child(1) {
        opacity: 0; }
      header .logo .burger.active span:nth-child(2) {
        -webkit-transform: translate(0, 1px) rotate(45deg);
        -moz-transform: translate(0, 1px) rotate(45deg);
        -ms-transform: translate(0, 1px) rotate(45deg);
        -o-transform: translate(0, 1px) rotate(45deg);
        transform: translate(0, 1px) rotate(45deg); }
      header .logo .burger.active span:nth-child(3) {
        -webkit-transform: translate(0, -9px) rotate(-45deg);
        -moz-transform: translate(0, -9px) rotate(-45deg);
        -ms-transform: translate(0, -9px) rotate(-45deg);
        -o-transform: translate(0, -9px) rotate(-45deg);
        transform: translate(0, -9px) rotate(-45deg); }
  header nav {
    padding: 30px 0 40px; }
    header nav ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center; }
      header nav ul li {
        padding: 0 20px; }
        header nav ul li a {
          font-size: 14px;
          color: #707070;
          position: relative; }
          header nav ul li a.active:after {
            width: 100%; }
          header nav ul li a:after {
            content: close-quote;
            position: absolute;
            left: 0;
            width: 0;
            height: 1px;
            background: #707070;
            bottom: -10px;
            -webkit-transition: width 0.2s ease-out;
            -moz-transition: width 0.2s ease-out;
            -ms-transition: width 0.2s ease-out;
            -o-transition: width 0.2s ease-out;
            transition: width 0.2s ease-out; }
          header nav ul li a:hover:after {
            width: 100%; }
        header nav ul li.language {
          position: relative; }
          header nav ul li.language > a {
            position: relative;
            z-index: 11; }
            header nav ul li.language > a:before {
              content: close-quote;
              background: url(../img/lang_down.svg) no-repeat center center;
              width: 6px;
              height: 3px;
              position: absolute;
              top: calc(50% - 2px);
              right: -10px; }
          header nav ul li.language a {
            font-size: 0; }
            header nav ul li.language a:after {
              content: none; }
          header nav ul li.language .block {
            position: absolute;
            left: 0;
            width: 100%;
            visibility: hidden;
            opacity: 0;
            z-index: 10;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -ms-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            background: white;
            top: 0;
            padding: 20px 0 20px;
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.16); }
            header nav ul li.language .block .item {
              padding: 10px 0 0;
              text-align: center; }
              header nav ul li.language .block .item a {
                padding: 10px 10px 0;
                border-top: 1px solid rgba(112, 112, 122, 0.33); }
          header nav ul li.language:hover .block {
            opacity: 1;
            visibility: visible; }

/*==================================SECTIONS===================================*/
section.video {
  position: relative;
  max-height: 850px; }
  section.video img {
    width: 100%;
    opacity: 0; }
  section.video .video--container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1; }
    section.video .video--container video {
      object-fit: cover;
      width: 100%;
      height: 100%; }
    section.video .video--container:after {
      content: close-quote;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      top: 0;
      left: 0;
      background: rgba(57, 57, 57, 0.2); }
  section.video .text--container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    z-index: 3; }
    section.video .text--container .container-fluid {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center; }
      section.video .text--container .container-fluid .row {
        text-align: center; }
        section.video .text--container .container-fluid .row h1 {
          font-size: 70px;
          line-height: 80px;
          max-width: 700px;
          white-space: initial; }
        section.video .text--container .container-fluid .row p {
          max-width: 400px;
          margin: 0 auto;
          white-space: initial; }
        section.video .text--container .container-fluid .row .flex {
          margin: 40px 0 0;
          justify-content: center; }
          section.video .text--container .container-fluid .row .flex a {
            margin: 0 4px; }
  section.video .awards {
    width: 110px;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 4; }
    section.video .awards img {
      opacity: 1;
      min-height: auto; }

section.clients {
  position: relative;
  height: 85px; }
  section.clients .name {
    position: absolute;
    width: 130px;
    height: 50px;
    top: 0;
    left: calc(50% - 65px);
    color: #BABABA;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 50px; }
  section.clients .flex {
    height: 100%;
    justify-content: space-around;
    align-items: center; }
    section.clients .flex .client {
      text-align: center; }

section.blocks {
  position: relative; }
  section.blocks.left {
    margin: 130px 0 100px; }
    section.blocks.left .image {
      text-align: right;
      margin: 0 0 0 auto; }
  section.blocks.right {
    margin: 0 0 100px; }
    section.blocks.right .content {
      margin: 0 0 0 auto; }
  section.blocks .content {
    max-width: 400px;
    width: 100%; }
    section.blocks .content h2 {
      margin-bottom: 20px; }
    section.blocks .content p {
      margin-bottom: 30px; }
  section.blocks .container-text {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 100%;
    left: 0; }
  section.blocks .image {
    width: calc(50% - 20px);
    position: relative;
    z-index: 1; }

section.contact {
  background: #f4f4f4;
  padding: 70px 0;
  text-align: center; }
  section.contact h2 {
    margin-bottom: 30px; }
  section.contact p {
    font-size: 20px;
    line-height: 36px;
    color: #121212; }
    section.contact p a {
      color: #00b3cc;
      text-decoration: underline;
      margin: 0 15px; }
  section.contact form {
    margin: 70px auto 0; }
    section.contact form .flex {
      flex-flow: row wrap; }

section.promo {
  position: relative; }
  section.promo img {
    width: 100%; }
  section.promo .container-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
    section.promo .container-text .container-fluid {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 100%;
      align-items: center; }
      section.promo .container-text .container-fluid .content {
        max-width: 520px;
        width: 100%; }
  section.promo:after {
    content: close-quote;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(54, 54, 54, 0.3); }

section.about {
  padding: 140px 0 0; }
  section.about h2 {
    text-align: center; }
  section.about .sub--text {
    text-align: center;
    font-size: 22px;
    line-height: 35px;
    color: #B2B2B2;
    font-weight: 500;
    margin: 20px 0; }
  section.about img {
    margin: 40px 0 60px; }
  section.about .pros {
    text-align: center;
    font-size: 22px;
    line-height: 35px;
    color: #121212;
    font-weight: 500; }
  section.about .flex {
    justify-content: center;
    flex-flow: row wrap;
    margin: 80px 0;
    counter-reset: counter; }
    section.about .flex .item {
      -webkit-flex-basis: 33.33%;
      -moz-flex-basis: 33.33%;
      flex-basis: 33.33%;
      margin-bottom: 70px; }
      section.about .flex .item .content {
        padding: 0 30px 0 50px;
        position: relative; }
        section.about .flex .item .content:before {
          content: counter(counter);
          counter-increment: counter;
          position: absolute;
          left: 0;
          top: -33px;
          font-size: 70px;
          font-weight: 300;
          color: #D9D9D9; }
  section.about .download {
    text-align: center; }
    section.about .download .links a img {
      margin: 10px 5px; }

section.custom-app {
  padding: 120px 0; }
  section.custom-app .flex {
    align-items: center;
    justify-content: space-between; }
    section.custom-app .flex .text {
      -webkit-flex-basis: 39%;
      -moz-flex-basis: 39%;
      flex-basis: 39%; }
      section.custom-app .flex .text h2 {
        margin-bottom: 30px; }
      section.custom-app .flex .text p {
        font-size: 22px;
        line-height: 42px;
        color: #707070; }
    section.custom-app .flex .img {
      -webkit-flex-basis: 55%;
      -moz-flex-basis: 55%;
      flex-basis: 55%; }

section.benefits {
  text-align: center; }
  section.benefits p.bigger {
    margin-top: 10px;
    font-size: 20px; }
  section.benefits .flex {
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: 80px;
    margin-left: -25px;
    margin-right: -25px; }
    section.benefits .flex .item {
      -webkit-flex-basis: calc(33.33% - 50px);
      -moz-flex-basis: calc(33.33% - 50px);
      flex-basis: calc(33.33% - 50px);
      margin-bottom: 70px;
      padding: 0 25px;
      text-align: left; }
      section.benefits .flex .item .icon {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        height: 70px;
        align-items: center; }
        section.benefits .flex .item .icon img {
          max-width: 70%; }
      section.benefits .flex .item .name {
        font-size: 26px;
        font-weight: 500;
        color: #121212;
        line-height: 39px; }
      section.benefits .flex .item .text {
        margin-top: 15px; }

section.process {
  padding-top: 120px; }
  section.process h2 {
    text-align: center; }
  section.process .flex {
    margin: 80px 0;
    flex-flow: row wrap;
    counter-reset: counter; }
    section.process .flex .item {
      -webkit-flex-basis: 33.33%;
      -moz-flex-basis: 33.33%;
      flex-basis: 33.33%;
      margin-bottom: 70px; }
      section.process .flex .item .content {
        padding: 0 30px 0 50px;
        position: relative; }
        section.process .flex .item .content:before {
          content: counter(counter);
          counter-increment: counter;
          position: absolute;
          left: 0;
          top: -33px;
          font-size: 70px;
          font-weight: 300;
          color: #D9D9D9; }

section.quotes {
  position: relative;
  margin-bottom: 100px; }
  section.quotes .flex {
    height: 280px;
    align-items: center; }
    section.quotes .flex .item {
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      flex-basis: 50%;
      text-align: center; }
      section.quotes .flex .item blockquote {
        font-size: 26px;
        line-height: 48px;
        color: #707070;
        padding: 0 50px 20px; }
      section.quotes .flex .item .name {
        font-size: 18px;
        color: #2D77BD;
        font-weight: 500;
        line-height: 33px; }
  section.quotes .bg {
    position: absolute;
    top: 0;
    width: calc(50% - 5px);
    height: 100%;
    opacity: .1; }
    section.quotes .bg.left {
      left: 0;
      border-radius: 0 5px 50px 0;
      background: #2D77BD; }
    section.quotes .bg.right {
      right: 0;
      border-radius: 5px 0 0 50px;
      background: #00b3cc; }

section.full-slider {
  margin: 0 7%; }
  section.full-slider .slider .slide img {
    border-radius: 10px;
    width: 100%; }
  section.full-slider .slider .slick-arrow {
    top: calc(50% - 50px); }
    section.full-slider .slider .slick-arrow.prev {
      left: 0; }
    section.full-slider .slider .slick-arrow.next {
      right: 0; }

section.use {
  padding: 70px 0; }
  section.use h2 {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 50px; }
  section.use .flex {
    justify-content: center;
    align-items: flex-end; }
    section.use .flex .item {
      text-align: center;
      margin: 0 30px; }
      section.use .flex .item img {
        margin-bottom: 10px; }

section.designed-for {
  padding: 80px 0; }
  section.designed-for h2 {
    text-align: center;
    margin: 0 auto; }
  section.designed-for .flex {
    justify-content: space-around;
    margin: 50px 0; }
    section.designed-for .flex .item {
      -webkit-flex-basis: 35%;
      -moz-flex-basis: 35%;
      flex-basis: 35%; }
      section.designed-for .flex .item .icon {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        height: 80px;
        align-items: center; }
      section.designed-for .flex .item .name {
        font-size: 26px;
        color: #121212;
        margin: 10px 0 20px; }

section.testimonials .slider .slide .flex {
  align-items: center; }
  section.testimonials .slider .slide .flex .image {
    -webkit-flex-basis: 42%;
    -moz-flex-basis: 42%;
    flex-basis: 42%; }
    section.testimonials .slider .slide .flex .image img {
      width: calc(100% - 100px); }
  section.testimonials .slider .slide .flex .text {
    -webkit-flex-basis: 50%;
    -moz-flex-basis: 50%;
    flex-basis: 50%; }
    section.testimonials .slider .slide .flex .text p {
      font-size: 20px;
      line-height: 48px;
      color: #707070; }
    section.testimonials .slider .slide .flex .text .name {
      font-size: 18px;
      font-weight: 500;
      line-height: 33px;
      color: #2D77BD;
      margin: 20px 0 0; }
section.testimonials .slider .slick-arrow {
  border-radius: 10px;
  bottom: 20px; }
  section.testimonials .slider .slick-arrow.prev {
    right: 110px; }
  section.testimonials .slider .slick-arrow.next {
    right: 0; }
section.testimonials .slider .slick-dots {
  margin-top: 120px; }

section.interested {
  margin: 70px 0 90px;
  position: relative; }
  section.interested .flex {
    justify-content: center; }
    section.interested .flex .content {
      -webkit-flex-basis: 66%;
      -moz-flex-basis: 66%;
      flex-basis: 66%;
      text-align: center; }
  section.interested p {
    font-size: 22px;
    line-height: 40px;
    color: #818181;
    margin-bottom: 30px;
    text-align: center; }

section.blog {
  position: relative; }
  section.blog img {
    width: 100%; }
  section.blog .container-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
    section.blog .container-text .container-fluid {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center; }
  section.blog:after {
    content: close-quote;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(54, 54, 54, 0.3); }

section.listing {
  padding: 150px 0 20px; }
  section.listing h2 {
    text-align: center;
    margin-bottom: 30px; }
  section.listing .flex {
    flex-flow: row wrap;
    margin-bottom: 60px; }
    section.listing .flex article {
      -webkit-flex-basis: 33.33%;
      -moz-flex-basis: 33.33%;
      flex-basis: 33.33%;
      margin-bottom: 60px; }
      section.listing .flex article .content {
        padding: 0 15px; }
        section.listing .flex article .content img {
          border-radius: 5px 5px 50px 5px; }
        section.listing .flex article .content .date {
          font-size: 14px;
          font-weight: 500;
          color: #00b3cc;
          margin: 20px 0 10px; }
        section.listing .flex article .content .name {
          font-size: 26px;
          line-height: 39px;
          font-weight: 500;
          color: #121212;
          margin-bottom: 10px; }
    section.listing .flex.navigation {
      justify-content: flex-end; }
      section.listing .flex.navigation a {
        margin: 0 15px;
        font-size: 18px;
        font-weight: 500;
        color: #2D77BD; }
        section.listing .flex.navigation a.prev {
          padding-left: 50px;
          background: url(../img/icons/arrow-left.svg) no-repeat left center;
          background-size: 30px 9px; }
        section.listing .flex.navigation a.next {
          padding-right: 50px;
          background: url(../img/icons/arrow-right.svg) no-repeat right center;
          background-size: 30px 9px; }
        section.listing .flex.navigation a.not-allowed {
          color: #D9D9D9; }
          section.listing .flex.navigation a.not-allowed.prev {
            background: url(../img/icons/arrow-left-grey.svg) no-repeat left center;
            background-size: 30px 9px; }
          section.listing .flex.navigation a.not-allowed.next {
            background: url(../img/icons/arrow-right-grey.svg) no-repeat right center;
            background-size: 30px 9px; }
  section.listing.others {
    padding: 80px 0 20px; }

section.article {
  padding: 70px 0 0; }
  section.article .main {
    text-align: center; }
    section.article .main h1 {
      max-width: 700px;
      margin: 0 auto 30px;
      color: #121212;
      text-align: center; }
    section.article .main p {
      text-align: center;
      max-width: 530px;
      margin: 0 auto; }
    section.article .main img {
      margin: 60px 0; }
  section.article .text {
    max-width: 650px;
    margin: 0 auto; }
    section.article .text p {
      margin-bottom: 20px; }
      section.article .text p strong {
        font-weight: 700; }
      section.article .text p a {
        color: #2D77BD;
        text-decoration: underline; }
    section.article .text ul {
      list-style: disc;
      margin-bottom: 30px;
      padding-left: 30px; }
      section.article .text ul li {
        font-size: 18px;
        line-height: 30px;
        color: #818181;
        letter-spacing: 1px;
        padding-bottom: 15px; }
    section.article .text h3 {
      margin-bottom: 10px; }
    section.article .text h2 {
      margin-bottom: 20px; }
  section.article .image {
    text-align: center;
    margin: 60px 140px; }
  section.article .video {
    margin: 60px 140px;
    text-align: center; }
    section.article .video iframe {
      max-width: 100%; }

/*==================================FOOTER=====================================*/
footer {
  background: rgba(180, 180, 180, 0.06);
  padding: 50px 0 0; }
  footer .flex.nav {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px; }
    footer .flex.nav .menu nav ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center; }
      footer .flex.nav .menu nav ul li {
        padding: 0 20px; }
        footer .flex.nav .menu nav ul li a {
          font-size: 14px;
          color: #707070;
          position: relative; }
          footer .flex.nav .menu nav ul li a:after {
            content: close-quote;
            position: absolute;
            left: 0;
            width: 0;
            height: 1px;
            background: #707070;
            bottom: -10px;
            -webkit-transition: width 0.2s ease-out;
            -moz-transition: width 0.2s ease-out;
            -ms-transition: width 0.2s ease-out;
            -o-transition: width 0.2s ease-out;
            transition: width 0.2s ease-out; }
          footer .flex.nav .menu nav ul li a:hover:after {
            width: 100%; }
  footer .flex.main {
    justify-content: space-between; }
    footer .flex.main .content {
      -webkit-flex-basis: 60%;
      -moz-flex-basis: 60%;
      flex-basis: 60%; }
    footer .flex.main .info {
      -webkit-flex-basis: 30%;
      -moz-flex-basis: 30%;
      flex-basis: 30%; }
  footer .flex.address {
    flex-flow: column; }
    footer .flex.address .item {
      background: url(../img/icons/pointer.svg) no-repeat center left 13px;
      background-size: 25px 39px;
      width: 360px; }
      footer .flex.address .item .flex {
        height: 100px;
        align-items: center; }
        footer .flex.address .item .flex .city {
          font-size: 22px;
          font-weight: 500;
          color: #555555;
          -webkit-flex-basis: 135px;
          -moz-flex-basis: 135px;
          flex-basis: 135px;
          padding-left: 50px; }
        footer .flex.address .item .flex .street {
          font-size: 18px;
          color: #818181;
          -webkit-flex-basis: 155px;
          -moz-flex-basis: 155px;
          flex-basis: 155px;
          padding-right: 15px;
          line-height: 30px; }
  footer h3 {
    margin-bottom: 10px; }
  footer .social {
    margin: 50px 0 0; }
    footer .social p {
      font-size: 16px; }
    footer .social .download a {
      margin-right: 20px; }
  footer .copyright {
    height: 100px;
    background: white;
    text-align: center;
    font-size: 16px;
    color: #818181;
    margin-top: 50px; }
    footer .copyright .flex {
      justify-content: space-between;
      height: 100px;
      align-items: center; }
      footer .copyright .flex .share a {
        margin: 0 10px; }

/*==================================RETINA=====================================*/
/*==================================RESPONSE===================================*/
@media (max-width: 1599px) {
  h1 {
    font-size: 44px;
    line-height: 54px; }

  h2 {
    font-size: 32px;
    line-height: 46px; }

  h3 {
    font-size: 24px;
    line-height: 40px; }

  p {
    font-size: 16px;
    line-height: 24px;
    color: #818181;
    letter-spacing: 1px; }
    p.sub--title {
      font-size: 18px;
      line-height: 26px; }

  section.video {
    max-height: 550px;
    margin-bottom: 30px; }

  section.clients .flex .client img {
    max-width: 70%; }

  section.blocks .container-text {
    top: 0; }
  section.blocks.left {
    margin: 50px 0 100px; }

  section.about {
    padding: 80px 0 0; }

  section.testimonials .slider .slide .flex .text p {
    font-size: 18px;
    line-height: 34px; }

  section.article {
    padding: 30px 0 0; } }
@media (max-width: 1199px) {
  section.promo img {
    height: 350px;
    object-fit: cover;
    object-position: center right; }

  section.blocks.left {
    margin: 50px 0 140px; }

  section.listing {
    padding: 80px 0 20px; } }
@media (max-width: 991px) {
  .link:before {
    left: -15px; }

  section.video img {
    min-height: 350px; }
  section.video .awards {
    display: none; }

  section.blocks .content {
    max-width: 350px; }

  section.about .flex {
    margin: 80px 0 30px; }
    section.about .flex .item {
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      flex-basis: 50%; }

  section.custom-app .flex .text p {
    font-size: 18px;
    line-height: 32px; }

  section.benefits p.bigger {
    font-size: 18px; }
  section.benefits .flex {
    margin-top: 50px;
    margin-left: -15px;
    margin-right: -15px; }
    section.benefits .flex .item {
      -webkit-flex-basis: calc(50% - 50px);
      -moz-flex-basis: calc(50% - 50px);
      flex-basis: calc(50% - 50px);
      margin-bottom: 40px; }

  section.process .flex .item .content {
    padding: 0 15px 0 30px; }
    section.process .flex .item .content:before {
      top: -15px;
      font-size: 40px; }

  section.quotes .flex .item blockquote {
    font-size: 20px;
    line-height: 30px;
    padding: 0 30px 20px; }

  section.designed-for {
    padding: 50px 0; }
    section.designed-for .flex {
      margin: 50px 0; }

  section.listing .flex article {
    -webkit-flex-basis: 50%;
    -moz-flex-basis: 50%;
    flex-basis: 50%; } }
@media (max-width: 767px) {
  .slick-arrow {
    width: 60px;
    height: 60px; }

  header {
    padding: 15px 0 0; }
    header .logo {
      text-align: left;
      padding-bottom: 20px; }
      header .logo .burger {
        display: block; }
    header nav {
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      padding: 0;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      header nav.active {
        max-height: 270px;
        visibility: visible; }
      header nav ul {
        flex-flow: column; }
        header nav ul li {
          padding: 15px 0;
          text-align: center; }
          header nav ul li a.active:after {
            content: none; }
          header nav ul li.language {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: center; }
            header nav ul li.language > a:before {
              content: none; }
            header nav ul li.language .block {
              position: initial;
              opacity: 1;
              visibility: visible;
              display: flex;
              box-shadow: none;
              padding: 0 0 0 10px;
              width: auto; }
              header nav ul li.language .block .item {
                padding: 0 10px; }
                header nav ul li.language .block .item a {
                  padding: 0;
                  border: 0; }

  section.clients .flex .client {
    height: 70px;
    display: flex !important;
    align-items: center; }
    section.clients .flex .client img {
      margin: 0 auto; }

  section.video .text--container .container-fluid .row h1 {
    font-size: 30px;
    line-height: 40px; }

  section.blocks.left {
    margin: 50px 0 70px; }
  section.blocks .content {
    max-width: 100%; }
  section.blocks .image {
    width: 100%; }
  section.blocks .container-text {
    position: initial;
    margin-top: 20px; }

  section.contact {
    padding: 40px 0; }
    section.contact h2 {
      margin-bottom: 10px; }
    section.contact p {
      font-size: 16px;
      line-height: 28px; }
    section.contact form .flex {
      flex-flow: column; }

  section.listing .flex {
    max-width: 500px;
    margin: 0 auto 60px; }
    section.listing .flex article {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      flex-basis: 100%; }

  section.full-slider {
    margin: 0 2%; }
    section.full-slider .slider .slick-arrow {
      top: calc(50% - 30px); }

  section.designed-for .flex {
    flex-flow: column; }
    section.designed-for .flex > .item {
      margin-bottom: 40px; }

  section.testimonials .slider .slick-arrow.prev {
    right: initial;
    left: 0; }
  section.testimonials .slider .slide .flex {
    flex-flow: column; }
    section.testimonials .slider .slide .flex .image {
      max-width: 300px;
      margin: 0 auto 50px; }
      section.testimonials .slider .slide .flex .image img {
        width: 100%; }

  section.process {
    padding-top: 50px; }
    section.process .flex {
      margin: 50px 0; }

  section.article .image {
    margin: 60px 40px; }

  section.article .video {
    margin: 60px 40px; }

  footer .flex.nav {
    flex-flow: column;
    margin-bottom: 40px; }
    footer .flex.nav .logo {
      margin-bottom: 20px; }
  footer .flex.main {
    flex-flow: column; }
    footer .flex.main .content {
      margin-bottom: 50px; }
  footer .flex.address .item {
    width: 100%; }
  footer .social .download a {
    margin: 10px 0; }
    footer .social .download a:first-child {
      margin-right: 20px; }
  footer .copyright {
    height: auto; }
    footer .copyright .flex {
      flex-flow: column-reverse;
      height: auto; }
      footer .copyright .flex .share {
        padding: 15px 0; }
        footer .copyright .flex .share a {
          margin: 0 5px; }
      footer .copyright .flex .text {
        padding: 15px 0; } }
@media (max-width: 575px) {
  h1 {
    font-size: 34px;
    line-height: 44px; }

  h2 {
    font-size: 26px;
    line-height: 36px; }

  h3 {
    font-size: 20px;
    line-height: 30px; }

  p.sub--title {
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px; }

  .btn {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    width: 200px; }

  .video--popup video {
    width: 100%; }
  .video--popup .close {
    top: 15px;
    right: 15px; }

  .input {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    padding: 0 15px; }

  .textarea {
    font-size: 16px;
    padding: 15px 15px; }

  header .logo a {
    width: 120px; }
  header .logo .burger {
    top: 7px; }

  section.video .text--container .container-fluid .row {
    width: 100%; }
    section.video .text--container .container-fluid .row p {
      white-space: initial; }
    section.video .text--container .container-fluid .row .flex {
      flex-flow: column;
      margin: 20px 0 0; }
      section.video .text--container .container-fluid .row .flex a {
        margin: 0 auto 15px; }

  section.blocks.left {
    margin: 0 0 70px; }

  section.about {
    padding: 50px 0 0; }
    section.about .flex .item {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      flex-basis: 100%; }

  section.custom-app .flex {
    flex-flow: column; }
    section.custom-app .flex .img {
      margin-top: 30px; }

  section.benefits .flex .item {
    -webkit-flex-basis: calc(100% - 50px);
    -moz-flex-basis: calc(100% - 50px);
    flex-basis: calc(100% - 50px); }

  section.process .flex .item {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%; }

  section.quotes .flex {
    height: auto;
    flex-flow: column; }
    section.quotes .flex .item {
      padding: 20px 0; }
  section.quotes .bg {
    display: none; }

  section.full-slider {
    margin: 0; }

  section.use .flex .item {
    margin: 0 10px; }

  section.testimonials .slider .slide .flex .text p {
    font-size: 16px;
    line-height: 26px; }

  section.article .image {
    margin: 20px 0; }
  section.article .video {
    margin: 20px 0; }
    section.article .video iframe {
      height: 300px; }
  section.article .text ul li {
    font-size: 16px; }

  section.interested p {
    font-size: 16px;
    line-height: 30px; }
  section.interested .flex .content {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%; }

  section.promo:after {
    content: none; }
  section.promo img {
    height: auto; }
  section.promo .container-text {
    position: initial; }
    section.promo .container-text h1 {
      color: #121212;
      padding: 10px 0; }
    section.promo .container-text p.sub--title {
      color: #121212; }

  footer .flex.nav {
    align-items: flex-start;
    margin-bottom: 20px; }
    footer .flex.nav .menu {
      display: none; } }

/*# sourceMappingURL=lenghart.css.map */
