* {
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
    scroll-behavior: smooth;
  }
  p, h1, h2{
    text-rendering: optimizeLegibility !important;
  }

  .hidden {
    display: none;
  }

  $darkGray: #393939;
  $lightGray: #787878;
  $marginInit: 18%;
  $marginMob: 4%;
  $grad: linear-gradient(+90deg, #ed1a6b, #2d77bd);
  
  html body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  //navigation animation
  .origNav{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    transition-duration: .5s;
  }
  .blackNav{
    background-color: white;
    box-shadow: rgba($color: #000000, $alpha: .2) 0px 0px 8px;
  }
  .darkOut{
    color: $darkGray;
  }
  .menuFix{
    transition-duration: .5s;
    margin-top: 20px;
    li{
      a{
        &:hover{
          border-bottom: $darkGray 1px solid;
        }
      }
    }
  }
  .logoFix{
    margin-top: 4px !important;
  }

  .logo {
    float: left;
    padding: 8px;
    left: 60px;
    margin-top: 15px;
    position: fixed;
    transition-duration: .5s;

    a {
      color: $darkGray;
      font-weight: 700;
      font-size: 18px;
      text-decoration: none;
      .mainLogo{
        background: url('imgs/arvisual_logo.svg')no-repeat;
        background-size: cover;
        width: 126px;
        height: 35px;
      }
    }
  }
  //menu items
  nav ul {
    float: right;
    margin-top: 35px;
    transition-duration: .5s;
    position: fixed;
    right: 60px;
    z-index: 999999;
    li {
      display: inline-block;
      float: left;
      &:not(:first-child) {
        margin-left: 48px;
      }
      &:last-child {
        margin-right: 24px;
      }
      a {
        display: inline-block;
        outline: none;
        color: white;
        text-decoration: none;
        font-size: .85em;
        transition-duration: .2s;
        &:hover{
            border-bottom: white solid 1px;
            padding-bottom: 2px;
        }
      }
    }
  }

//main image top
.mainImg{
    background: url('imgs/main_case_studies.jpg')no-repeat;
    background-size: cover;
    background-position: left;
    height: 500px;
    width: 100%;
}
//title section
.aboutUs{
    margin-top: 70px;
    margin-left: $marginInit;
    margin-right: $marginInit;
    text-align: center;
    margin-bottom: 50px;
    .header{
        color: $darkGray;
        font-size: 2em;
        font-weight: 900;
    }
    .par{
        color: $lightGray;
        margin-top: 10px;
        margin-bottom: 30px;
        line-height: 1.6em;
    }
    .companies{
      width: 100%;
      .logos{
        width: 100%;
      }
    }
}
//labzone case study
#case1{
  background: url('imgs/wooden_germany_cs.jpg')no-repeat;
  background-size: cover;
  background-position: center;
}
#case2{
  background: url('imgs/glamm_fire_cs.jpg')no-repeat;
  background-size: cover;
  background-position: center;
}
.caseStudy{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    .containCs{
        margin-left: $marginInit;
        margin-right: $marginInit;
        .headCs{
          color: white;
          font-size: 2.5em;
          padding-top: 60px;
          margin-bottom: 20px;
          margin-top: 0;
        }
        .par{
            color: white;
            max-width: 400px;
            margin-top: 20px;
            margin-bottom: 80px;
            line-height: 1.6em;
        }
        .btnCs{
            text-align: center;
            background: none;
            border: solid 1px white;
            padding: 6px 24px 6px 24px;
            border-radius: 50px;
            text-decoration: none;
            color: white;
            transition-duration: .2s;
            span{
                color: transparent;
                padding-left: 0px;
                transition-duration: .2s;
                i{
                    position: absolute;
                    padding-top: 3px;
                    padding-right: 0px;
                }
            }
            &:hover{
                color: white;
                border: solid 1px ;
                padding: 6px 20px 6px 24px;
                span{
                    color: white;
                    padding-left: 18px;
                    padding-right: 5px;
                }
            }
        }
    }
    .labzoneCsPhone{
        position: absolute;
        top: 700px;
        width: 400px;
        right: $marginInit;
    }
}
//contact social media
.contact{
    .containCont{
        margin-top: 50px;
        margin-left: $marginInit;
        margin-right: $marginInit;
        .header{
          color: $darkGray;
          font-size: 1.5em;
          font-weight: 900;
          margin-bottom: 0;
        }
        .contForm{
            display: flex;
            flex-direction: row;
            form{
                display: flex;
                flex-direction: column;
                flex-basis: 50%;
                padding-right: 20%;
                .input-subject, .input-email, textarea{
                    margin-top: 20px;
                    border: #aaa 1px solid;
                    padding: 9px 8px 8px 8px;
                    border-radius: 3px;
                    resize: none;
                }
                textarea{
                  max-height: 100px;
                }
                label{
                    color: $lightGray;
                }
                #submit{
                    width: 150px;
                    text-align: center;
                    background: none;
                    border: solid 1px $lightGray;
                    padding-top: 7px;
                    padding-bottom: 6px;
                    border-radius: 50px;
                    font-size: 1em;
                    text-decoration: none;
                    color: $darkGray;
                    transition-duration: .2s;
                    margin: 0 auto;
                    margin-top: 20px;
                    &:hover{
                        color: $darkGray;
                        border: solid 1px $darkGray;
                        cursor: pointer;
                        width: 168px;
                    }
                }
            }
            .contInfo{
                flex-basis: 50%;
                .par{
                    color: $lightGray;
                    margin-top: 10px;
                    line-height: 1.6em;
                }
                .socialMedia{
                  display: flex;
                  flex-direction: row;
                  margin-top: 30px;
                  i{
                    color: $darkGray;
                    font-size: 1.5em;
                    margin-right: 30px;
                    transition-duration: .2s;
                    &:hover{
                      color: $lightGray;
                      cursor: pointer;
                    }
                  }
                }
            }
        }
    }
}
//request demo
.requestDemo{
  width: 100%;
  background-image: $grad;
  text-align: center;
  margin-top: 70px;
  .contDemo{
    margin-left: $marginInit;
    margin-right: $marginInit;
    .header{
      color: white;
      font-size: 2em;
      font-weight: 900;
      padding-top: 30px;
      margin-bottom: 0;
    }
    .par{
      color: white;
      line-height: 1.6em;
      margin-bottom: 35px;
      margin-top: 25px;
    }
    wrapper{
      display: block;
      padding-bottom: 40px;
      .btnDemo{
        background: transparent;
        font-size: 1em;
        border: solid 1px white;
        padding: 6px 24px 6px 24px;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        transition-duration: .2s;
        &:hover{
          background: white;
          cursor: pointer;
          padding: 6px 33px 6px 33px;
          color: #ed1a6b;
        }
      }
    }
  }
}
//popup
#popupMain{
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .6);
  top: 0;
  left: 0;
  display: none;
  .popupBody{
    background: white;
    border-radius: 2px;
    position: fixed;
    width: 85%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    #popupExit{
      position: fixed;
      right: 10px;
      top: 0px;
      transform: rotate(45deg);
      p{
        margin: 0;
        font-size: 2.5em;
        font-family: arial;
        transition-duration: .2s;
        &:hover{
          color: $lightGray;
          cursor: pointer;
          user-select: none; 
        }
      }
    }
    form{
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      padding-right: $marginInit;
      padding-left: $marginInit;
      .header{
        color: $darkGray;
        font-size: 1.5em;
        font-weight: 900;
        margin-bottom: 0;
      }
      .input-subject, .input-email, textarea{
          margin-top: 20px;
          border: #aaa 1px solid;
          padding: 9px 8px 8px 8px;
          border-radius: 3px;
          resize: none;
      }
      textarea{
        max-height: 100px;
      }
      label{
          color: $lightGray;
      }
      #submit{
          width: 150px;
          text-align: center;
          background: none;
          border: solid 1px $lightGray;
          padding-top: 7px;
          padding-bottom: 6px;
          border-radius: 50px;
          font-size: 1em;
          text-decoration: none;
          color: $darkGray;
          transition-duration: .2s;
          margin: 0 auto;
          margin-top: 20px;
          &:hover{
              color: $darkGray;
              border: solid 1px $darkGray;
              cursor: pointer;
              width: 168px;
          }
      }
  }
  }
}
//down contact
.downCont{
  margin-left: $marginInit;
  margin-right: $marginInit;
  margin-top: 50px;
  .header{
    color: $darkGray;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
  }
  .downContContainer{
    display: flex;
    flex-direction: row;
    .sales, .management, .marketing{
      strong{
        color: $darkGray;
        font-size: 1.2em;
        line-height: 2em;
      }
      flex-basis: 30%;
      color: $lightGray;
      line-height: 1.6em;
      .socialMedia{
        display: flex;
        flex-direction: row;
        margin-top: 110px;
        i{
          color: $darkGray;
          font-size: 1.5em;
          margin-right: 30px;
          transition-duration: .2s;
          &:hover{
            color: $lightGray;
            cursor: pointer;
          }
        }
      }
    }
    .address{
      flex-basis: 20%;
      color: $lightGray;
      display: flex;
      flex-direction: column;
      strong{
        color: $darkGray;
        font-size: 1.2em;
        line-height: 2em;
      }
    }
    .socialMedia2{
      display: none;
    }
    .wrapOne{
      display: flex;
      flex-direction: row;
      flex-basis: 90%;
    }
  }
}
//footer
footer{
  background: $darkGray;
  width: 100%;
  margin-top: 40px;
  .footCont{
    display: flex;
    flex-direction: row;
    .footUnit{
      ul{
        list-style: none;
        li{
          a{
            color: white;
            text-decoration: none;
            line-height: 1.6em;
            font-size: .9em;
            transition-duration: .2s;
            &:hover{
              color: $lightGray;
            }
          }
        }
      }
    }
  }
  p{
    text-align: center;
    margin: 0;
    color: white;
    font-size: .85em;
    padding: 8px 0px 7px 0px;
  }
}

/////////////////////////////MEDIAQUERIES///////////////////////////////////
/////////////////////////////MEDIAQUERIES///////////////////////////////////
/////////////////////////////MEDIAQUERIES///////////////////////////////////
@media screen and (max-width: 1200px) {
  .aboutUs, .caseStudy > .containCs, .contact > .containCont, .requestDemo > .contDemo, .downCont{
    margin-left: $marginMob;
    margin-right: $marginMob;
  }
  .contact{
    .containCont{
      .contForm{
        form{
        padding-right: 10%;
        }
      }
    }
  }
}
  @media screen and (max-width: 864px) {
    .logo {
      padding: 0;
      margin-top: 18px;
    }
    .logoFix{
      margin-top: 11px !important;
    }
    .nav-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: #fff;
      opacity: 0;
      transition: all 0.2s ease;
      ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
          &:nth-child(1) a {
            transition-delay: 0.2s;
          }
          &:nth-child(2) a {
            transition-delay: 0.3s;
          }
          &:nth-child(3) a {
            transition-delay: 0.4s;
          }
          &:nth-child(4) a {
            transition-delay: 0.5s;
          }
          &:not(:first-child) {
            margin-left: 0;
          }
          a {
            padding: 10px 24px;
            opacity: 0;
            color: $darkGray;
            font-size: .85em;
            transform: translateX(-20px);
            transition: all 0.2s ease;
          }
        }
      }
    }
    .nav-btn {
      position: fixed;
      right: 10px;
      top: 10px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      border-radius: 50%;
      i {
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
        &:nth-child(1) {
          margin-top: 16px;
        }
        &:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
        }
        &:nth-child(3) {
          margin-top: 4px;
        }
      }
    }
  
  #navClick:checked {
    + .nav-btn {
      transform: rotate(45deg);
      i {
        background: #000;
        transition: transform 0.2s ease;
        &:nth-child(1) {
          transform: translateY(6px) rotate(180deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-6px) rotate(90deg);
        }
      }
    }
    ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
      ul li a {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  .contact{
    .containCont{
      .contForm{
        form{
          label{
            font-size: .9em;
          }
        }
      }
    }
  }
  .downCont{
    .downContContainer{
        display: flex;
        flex-direction: column;
        .sales, .management, .marketing{
          flex-basis: 33%;
          .socialMedia{
            display: none;
          }
        }
        .address{
          display: flex;
          flex-direction: row;
          div{
            flex-basis: 33%;
            margin-top: 30px;
          }
        }
        .socialMedia2{
          display: flex;
          flex-direction: row;
          margin-top: 50px;
          justify-content: center;
          i{
            color: $darkGray;
            font-size: 1.5em;
            margin-right: 30px;
            transition-duration: .2s;
            &:hover{
              color: $lightGray;
              cursor: pointer;
            }
          } 
        }
    } 
  }
}

@media screen and (max-width: 700px) {
  .aboutUs{
    margin-top: 10px;
  }
  .contact{
    .containCont{
      margin-top: 10px;
      .contForm{
        flex-direction: column;
        form{
          padding-right: 0;
        }
      }
    }
  }
  .downCont{
    margin-top: 0px;
  }
}