* {
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
    scroll-behavior: smooth;
  }
  p, h1, h2{
    text-rendering: optimizeLegibility !important;
  }

  .hidden {
    display: none;
  }

  $darkGray: #393939;
  $lightGray: #787878;
  $marginInit: 18%;
  $marginMob: 4%;
  $grad: linear-gradient(+45deg, #ed1a6b, #2d77bd);
  
  html body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  //navigation animation
  .origNav{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
    background-color: $darkGray;
    transition-duration: .5s;
  }
  .blackNav{
    background-color: white;
    box-shadow: rgba($color: #000000, $alpha: .2) 0px 0px 8px;
  }
  .darkOut{
    color: $darkGray;
  }
  .menuFix{
    transition-duration: .5s;
    margin-top: 20px;
    li{
      a{
        &:hover{
          border-bottom: $darkGray 1px solid;
        }
      }
    }
  }

  .logo {
    float: left;
    padding: 8px;
    left: 60px;
    position: fixed;
    transition-duration: .5s;
    margin-top: 5px;

    a {
      color: $darkGray;
      font-weight: 700;
      font-size: 18px;
      text-decoration: none;
      .mainLogo{
        width: 126px;
        height: 35px;
      }
    }
  }
  //menu items
  nav ul {
    float: right;
    margin-top: 20px;
    transition-duration: .5s;
    position: fixed;
    right: 60px;
    z-index: 999999;
    li {
      display: inline-block;
      float: left;
      &:not(:first-child) {
        margin-left: 48px;
      }
      &:last-child {
        margin-right: 24px;
      }
      a {
        display: inline-block;
        outline: none;
        color: white;
        text-decoration: none;
        font-size: .85em;
        transition-duration: .2s;
        &:hover{
            border-bottom: white solid 1px;
            padding-bottom: 2px;
        }
      }
    }
  }

//main image top
.mainImg{
    background: url('imgs/main_case_studies.jpg')no-repeat;
    background-size: cover;
    background-position: left;
    height: 500px;
    width: 100%;
}
//title section
.aboutUs{
    margin-top: 70px;
    margin-left: $marginInit;
    margin-right: $marginInit;
    text-align: center;
    margin-bottom: 50px;
    .header{
        color: $darkGray;
        font-size: 2em;
        font-weight: 900;
    }
    .par{
        color: $lightGray;
        margin-top: 10px;
        margin-bottom: 30px;
        line-height: 1.6em;
    }
    .companies{
      width: 100%;
      .logos{
        width: 100%;
      }
    }
}
//labzone case study
#case1{
  background: url('imgs/wooden_germany_cs.jpg')no-repeat;
  background-size: cover;
  background-position: center;
}
#case2{
  background: url('imgs/glamm_fire_cs.jpg')no-repeat;
  background-size: cover;
  background-position: center;
}
#case3{
  background: url('imgs/vzor.jpg')no-repeat;
  background-size: cover;
  background-position: center;
}
.caseStudy{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    .containCs{
        margin-left: $marginInit;
        margin-right: $marginInit;
        .headCs{
          color: white;
          font-size: 2.5em;
          padding-top: 60px;
          margin-bottom: 20px;
          margin-top: 0;
        }
        .par{
            color: white;
            max-width: 400px;
            margin-top: 20px;
            margin-bottom: 80px;
            line-height: 1.6em;
        }
        .btnCs{
            text-align: center;
            background: none;
            border: solid 1px white;
            padding: 6px 24px 6px 24px;
            border-radius: 50px;
            text-decoration: none;
            color: white;
            transition-duration: .2s;
            span{
                color: transparent;
                padding-left: 0px;
                transition-duration: .2s;
                i{
                    position: absolute;
                    padding-top: 3px;
                    padding-right: 0px;
                }
            }
            &:hover{
                color: white;
                border: solid 1px ;
                padding: 6px 20px 6px 24px;
                span{
                    color: white;
                    padding-left: 18px;
                    padding-right: 5px;
                }
            }
        }
    }
}
//contact social media
.contact{
    .containCont{
        margin-top: 50px;
        margin-bottom: 60px;
        margin-left: $marginInit;
        margin-right: $marginInit;
        .header{
          color: $darkGray;
          font-size: 1.5em;
          font-weight: 900;
          margin-bottom: 0;
        }
        .contForm{
            display: flex;
            flex-direction: row;
            form{
                display: flex;
                flex-direction: column;
                flex-basis: 50%;
                padding-right: 20%;
                .input-subject, .input-email2, textarea{
                    margin-top: 20px;
                    border: #aaa 1px solid;
                    padding: 9px 8px 8px 8px;
                    border-radius: 3px;
                    resize: none;
                }
                textarea{
                  max-height: 100px;
                }
                label{
                    color: $lightGray;
                    font-size: .85em;
                    a{
                      text-decoration: underline;
                      color: $lightGray;
                      transition-duration: .2s;
                      &:hover{
                        color: #aaa;
                      }
                    }
                }
                #submit{
                    width: 150px;
                    text-align: center;
                    background: none;
                    border: solid 1px $lightGray;
                    padding-top: 7px;
                    padding-bottom: 6px;
                    border-radius: 50px;
                    font-size: 1em;
                    text-decoration: none;
                    color: $darkGray;
                    transition-duration: .2s;
                    margin: 0 auto;
                    margin-top: 20px;
                    &:hover{
                        color: $darkGray;
                        border: solid 1px $darkGray;
                        cursor: pointer;
                        width: 168px;
                    }
                }
            }
            .contInfo{
                flex-basis: 50%;
                .par{
                    color: $lightGray;
                    margin-top: 10px;
                    line-height: 1.6em;
                }
                .socialMedia{
                  display: flex;
                  flex-direction: row;
                  margin-top: 30px;
                  i{
                    color: $darkGray;
                    font-size: 1.5em;
                    margin-right: 30px;
                    transition-duration: .2s;
                    &:hover{
                      color: $lightGray;
                      cursor: pointer;
                    }
                  }
                }
            }
        }
        .successAlert2{
          display: none;
          flex-basis: 50%;
          padding-right: 10%;
          p{
            color: #787878;
            margin-top: 10px;
            line-height: 1.6em;
          }
          wrapper{
            display: block;
            padding-top: 10px;
            
            text-align: center;
            .allright{
              background: transparent;
                font-size: 1em;
                border: solid 1px $darkGray;
                padding: 6px 24px 6px 24px;
                border-radius: 50px;
                color: $darkGray;
                text-decoration: none;
                transition-duration: .2s;
                &:hover{
                  background: transparent;
                  cursor: pointer;
                  padding: 6px 33px 6px 33px;
                  color: $lightGray;
                  border-color: $lightGray;
                }
              }
            }
        }
    }
}
//request demo
.requestDemo{
  width: 100%;
  background-image: $grad;
  text-align: center;
  margin-top: 70px;
  .contDemo{
    margin-left: $marginInit;
    margin-right: $marginInit;
    .header{
      color: white;
      font-size: 2em;
      font-weight: 900;
      padding-top: 30px;
      margin-bottom: 0;
      br{
        display: none;
      }
    }
    .par{
      color: white;
      line-height: 1.6em;
      margin-bottom: 35px;
      margin-top: 25px;
      br{
        display: block;
      }
    }
    wrapper{
      display: block;
      padding-bottom: 40px;
      .btnDemo{
        background: transparent;
        font-size: 1em;
        border: solid 1px white;
        padding: 6px 24px 6px 24px;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        transition-duration: .2s;
        &:hover{
          background: white;
          cursor: pointer;
          padding: 6px 33px 6px 33px;
          color: #ed1a6b;
        }
      }
    }
  }
}
//popup
#popupMain{
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .6);
  top: 0;
  left: 0;
  display: none;
  #popupExit{
    position: fixed;
    right: 10px;
    top: 80px;
    transform: rotate(45deg);
    p{
      margin: 0;
      font-size: 2.5em;
      font-family: arial;
      transition-duration: .2s;
      color: white;
      &:hover{
        color: #aaa;
        cursor: pointer;
        user-select: none; 
      }
    }
  }
  .popupBody{
    background: white;
    border-radius: 2px;
    position: fixed;
    width: 85%;
    max-width: 700px;
    height: 80%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    overflow-x: hidden;
    .successAlert{
      wrapper{
        display: block;
        width: 100;
        text-align: center;
        margin-top: 30px;
      }
    }
    .popImg{
      background: url('imgs/popup_img.jpg')no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 200px;
    }
    form{
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      padding-right: $marginInit;
      padding-left: $marginInit;
      max-width: 750px;
      margin: 0 auto;
      .header{
        color: $darkGray;
        font-size: 1.5em;
        font-weight: 900;
        margin-bottom: 0;
        margin-top: 23px;
        text-align: center;
      }
      .hook{
        display: none;
        color: $lightGray;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.6em;
      }
      .input-subject, .input-email, textarea{
          margin-top: 20px;
          border: #aaa 1px solid;
          padding: 9px 8px 8px 8px;
          border-radius: 3px;
          resize: none;
      }
      textarea{
        max-height: 100px;
      }
      label{
          color: $lightGray;
          a{
            text-decoration: underline;
            color: $lightGray;
            transition-duration: .2s;
            &:hover{
              color: #aaa;
            }
          }
      }
      #submit{
          width: 150px;
          text-align: center;
          background: none;
          border: solid 1px $lightGray;
          padding-top: 7px;
          padding-bottom: 6px;
          border-radius: 50px;
          font-size: 1em;
          text-decoration: none;
          color: $darkGray;
          transition-duration: .2s;
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 20px;
          &:hover{
              color: $darkGray;
              border: solid 1px $darkGray;
              cursor: pointer;
              width: 168px;
          }
      }
  }
  .successAlert{
    display: none;
    h1{
      color: #393939;
      font-size: 1.5em;
      font-weight: 900;
      margin-bottom: 0;
      text-align: center;
      padding-top: 30px;
    }
    p{
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
    line-height: 1.6em;
    }
    .socialMediaPopup{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 30px;
      i{
        color: $darkGray;
        font-size: 1.5em;
        margin-right: 30px;
        transition-duration: .2s;
        &:hover{
          color: $lightGray;
          cursor: pointer;
          }
        }
      }
    }
    .allright{
      background: transparent;
        font-size: 1em;
        border: solid 1px $darkGray;
        padding: 6px 24px 6px 24px;
        border-radius: 50px;
        color: $darkGray;
        text-decoration: none;
        transition-duration: .2s;
        &:hover{
          background: transparent;
          cursor: pointer;
          padding: 6px 33px 6px 33px;
          color: $lightGray;
          border-color: $lightGray;
        }
    }
  }
}
//down contact
.downCont{
  margin-left: $marginInit;
  margin-right: $marginInit;
  margin-top: 50px;
  .header{
    color: $darkGray;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
  }
  .downContContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .sales, .management, .marketing, .miami{
      flex-basis: 25% !important;
      text-align: center;
      strong{
        color: $darkGray;
        font-size: 1.2em;
        line-height: 2em;
      }
      color: $lightGray;
      line-height: 1.6em;
      .socialMedia{
        display: flex;
        flex-direction: row;
        margin-top: 110px;
        i{
          color: $darkGray;
          font-size: 1.5em;
          margin-right: 30px;
          transition-duration: .2s;
          &:hover{
            color: $lightGray;
            cursor: pointer;
          }
        }
      }
    }
    .management{
      margin-left: 50px;
      margin-right: 25px;
    }
    .marketing{
      margin-left: 25px;
      margin-right: 50px;
    }
    .miami, .sales{
      min-width: 130px;
    }
    .wrapOne{
      display: flex;
      flex-direction: row;
      
    }
  }
}
.socialMedia2{
  display: none;
}
//footer
footer{
  background: $darkGray;
  width: 100%;
  margin-top: 50px;
  .footCont{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    .footUnit{
      flex-basis: unset;
      padding-right: 4%;
      padding-left: 4%;
      ul{
        list-style: none;
        padding: 0;
        li{
          line-height: 2em;
          a{
            color: white;
            text-decoration: none;
            line-height: 1.6em;
            font-size: .9em;
            transition-duration: .2s;
            &:hover{
              cursor: pointer;
              color: $lightGray;
            }
          }
        }
      }
      &:nth-of-type(3){
        position: absolute;
        right: 0;
      }
    }
    .add{
      margin-top: 10px;
      p{
        text-align: left;
        margin-top: 5px;
        line-height: 1.6em;

      }
    }
  }
  p{
    text-align: center;
    margin: 0;
    color: white;
    font-size: .85em;
    padding: 8px 0px 7px 0px;
  }
  .dload{
    margin-top: 10px;
    font-size: 1em;
    text-align: right;
  }
  .dloadIcons{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        justify-content: right;
        .apple{
            background: url('imgs/apple.svg')no-repeat;
            background-size: contain;
            background-position: center;
            width: 120px;
            height: 55px;
            margin: 0 auto;
            margin-top: 5px;
            float: right;
            transition-duration: .2s;
            &:hover{
              opacity: .6;
            }
        }
        .android{
            background: url('imgs/google.svg')no-repeat;
            background-size: contain;
            background-position: center;
            width: 120px;
            height: 55px;
            margin: 0 auto;
            float: right;
            transition-duration: .2s;
            &:hover{
              opacity: .6;
            }
        }
    }    
}
/////////////////////////////MEDIAQUERIES///////////////////////////////////
/////////////////////////////MEDIAQUERIES///////////////////////////////////
/////////////////////////////MEDIAQUERIES///////////////////////////////////
@media screen and (max-width: 1200px) {
  .aboutUs, .caseStudy > .containCs, .contact > .containCont, .requestDemo > .contDemo, .downCont{
    margin-left: $marginMob;
    margin-right: $marginMob;
  }
  .mainImg{
    height: 400px;
  }
  .contact{
    .containCont{
      .contForm{
        form{
        padding-right: 10%;
        }
      }
    }
  }
}
  @media screen and (max-width: 964px) {
    .logo {
      padding: 0;
      margin-top: 13px;
      left: 2.5%;
    }
    .mainImg{
      height: 300px;
      background-position: right;
    }
    .nav-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: #fff;
      opacity: 0;
      transition: all 0.2s ease;
      ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
          &:nth-child(1) a {
            transition-delay: 0.2s;
          }
          &:nth-child(2) a {
            transition-delay: 0.3s;
          }
          &:nth-child(3) a {
            transition-delay: 0.4s;
          }
          &:nth-child(4) a {
            transition-delay: 0.5s;
          }
          &:not(:first-child) {
            margin-left: 0;
          }
          a {
            padding: 10px 24px;
            opacity: 0;
            color: $darkGray;
            font-size: .85em;
            transform: translateX(-20px);
            transition: all 0.2s ease;
          }
        }
      }
    }
    .nav-btn {
      position: fixed;
      right: 10px;
      top: 10px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      border-radius: 50%;
      i {
        display: block;
        width: 20px;
        height: 2px;
        background: white;
        border-radius: 2px;
        margin-left: 14px;
        &:nth-child(1) {
          margin-top: 16px;
        }
        &:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
        }
        &:nth-child(3) {
          margin-top: 4px;
        }
      }
    }
  
  #navClick:checked {
    + .nav-btn {
      transform: rotate(45deg);
      i {
        background: #000;
        transition: transform 0.2s ease;
        &:nth-child(1) {
          transform: translateY(6px) rotate(180deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-6px) rotate(90deg);
        }
      }
    }
    ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
      ul li a {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  .contact{
    .containCont{
      .contForm{
        form{
          label{
            font-size: .9em;
          }
        }
      }
    }
  }
  .downCont{
    .downContContainer{
        display: flex;
        flex-direction: column;
        .sales, .management, .marketing{
          flex-basis: 25%;
          .socialMedia{
            display: none;
          }
        }
    } 
  }
  .socialMedia2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    i{
      color: $darkGray;
      font-size: 1.5em;
      margin-right: 30px;
      transition-duration: .2s;
      &:hover{
        color: $lightGray;
        cursor: pointer;
      }
    } 
  }
}
@media screen and (max-width: 750px){
  .downCont{
    .downContContainer{
      flex-direction: row;
      .wrapOne{
        flex-direction: column;
        flex-basis: 100%;
        align-items: center;
        text-align: center;
        .management, .marketing{
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .aboutUs{
    margin-top: 10px;
  }
  .contact{
    .containCont{
      margin-top: 10px;
      margin-bottom: 30px;
      .contForm{
        flex-direction: column;
        form{
          padding-right: 0;
        }
        .contInfo{
          display: none;
        }
      }
    }
  }
  .downCont{
    margin-top: 0px;
  }
  footer{
    .footCont{
      flex-wrap: wrap;
      .footUnit{
        flex-basis: unset;
        &:nth-of-type(3){
          max-width: unset;
        }
        &:nth-of-type(3){
          .dload{
            text-align: unset;
            flex-basis: 100%;
            width: 150px;
          }
          .apple, .android{
            float: left;
          }
        }
      }
    }
  }
  .requestDemo{
    .contDemo{
      .par{
        br{
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  h1{
    font-size: 1.5em !important;
  }
  .aboutUs{
    .header{
      margin-bottom: 10px;
    }
  }
  .caseStudy{
    height: 290px;
    .containCs{
      wrapper{
        display: block;
        width: 100;
        text-align: center;
      }
      .headCs{
        padding-top: 30px;
      }
      .par{
        margin-bottom: 40px;
      }
    }
  }
  .contact{
    .containCont{
      .contForm{
        .contInfo{
          .socialMedia{
            justify-content: center;
          }
        }
      }
    }
  }
  .requestDemo{
    margin-top: 30px;
    .contDemo{
      .header{
        br{
          display: block;
        }
      }
      .par{
        font-size: .9em;
      }
    }
  }
  .downCont{
    .downContContainer{
      flex-direction: row;
      .wrapOne{
        flex-direction: column;
        flex-basis: 100%;
        align-items: center;
        text-align: center;
      }
    }
  }
  #popupMain{
    .popupBody{
      .popImg{
        height: 120px;
      }
      form{
        .header{
          font-size: 1.2em !important;
        }
      }
      .successAlert{
        wrapper{
          display: block;
          width: 100;
          text-align: center;
        }
      }
    }
  }
  footer{
    .footCont{
      .footUnit{
        flex-basis: 50%;
        &:nth-of-type(3){
          position: initial;
        }
      }
    }
  }
}
@media screen and (max-width: 430px) {
  .caseStudy{
    height: 300px;
    .containCs{
      .par{
        font-size: .9em;
      }
    }
  }
  #popupMain{
    .popupBody{
      height: 80%;
      top: 55%;
      .popImg{
        height: 120px;
      }
      form{
        padding-left: $marginMob;
        padding-right: $marginMob;
        .header{
          margin-top: 25px;
        }
        .gdpr{
          font-size: .85em;
        }
        #submit{
          margin-bottom: 20px;
        }
      }
      .successAlert{
        h1{
          font-size: 1.1em !important;
        }
        p{
          font-size: .9em;
        }
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .mainImg{
    height: 250px;
  }
  .downCont{
    .downContContainer{
      flex-direction: column;
      p{
        margin-top: 0;
      }
    }
  }
  .socialMedia2{
    margin-top: 30px;
  }
  #popupMain{
    .popupBody{
      .popImg{
       display: none;
      }
      form{
        .header{
          margin-top: 55px;
        }
      }
    }
  }
  footer{
    .footCont{
      .footUnit{
        &:nth-of-type(2){
          padding-left: 15px;
          text-align: right;
        }
        &:nth-of-type(4){
          .dload{
            text-align: right;
          }
          .dloadIcons{
            float: right;
          }
        }
      }
    }
  }
}