* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', Helvetica, sans-serif;
  scroll-behavior: smooth;
}

p, h1, h2 {
  text-rendering: optimizeLegibility !important;
}

.hidden {
  display: none;
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.origNav {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1000;
  background-color: transparent;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.blackNav {
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.darkOut {
  color: #393939;
}

.menuFix {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  margin-top: 20px;
}

.menuFix li a:hover {
  border-bottom: #393939 1px solid;
}

.logoFix {
  margin-top: 4px !important;
}

.logo {
  float: left;
  padding: 8px;
  left: 60px;
  margin-top: 15px;
  position: fixed;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.logo a {
  color: #393939;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}

.logo a .mainLogo {
  background: url("imgs/arvisual_logo.svg") no-repeat;
  background-size: cover;
  width: 126px;
  height: 35px;
}

nav ul {
  float: right;
  margin-top: 35px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  position: fixed;
  right: 60px;
  z-index: 999999;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: white;
  text-decoration: none;
  font-size: .85em;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

nav ul li a:hover {
  border-bottom: white solid 1px;
  padding-bottom: 2px;
}

.mainImg {
  background: url("imgs/main_case_studies.jpg") no-repeat;
  background-size: cover;
  background-position: left;
  height: 500px;
  width: 100%;
}

.aboutUs {
  margin-top: 70px;
  margin-left: 18%;
  margin-right: 18%;
  text-align: center;
  margin-bottom: 50px;
}

.aboutUs .header {
  color: #393939;
  font-size: 2em;
  font-weight: 900;
}

.aboutUs .par {
  color: #787878;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.6em;
}

.aboutUs .companies {
  width: 100%;
}

.aboutUs .companies .logos {
  width: 100%;
}

#case1 {
  background: url("imgs/wooden_germany_cs.jpg") no-repeat;
  background-size: cover;
  background-position-y: -220px;
}

#case2 {
  background: url("imgs/glamm_fire_cs.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.caseStudy {
  margin-top: 20px;
  width: 100%;
  height: 400px;
}

.caseStudy .containCs {
  margin-left: 18%;
  margin-right: 18%;
}

.caseStudy .containCs .headCs {
  color: white;
  font-size: 2.5em;
  padding-top: 60px;
  margin-bottom: 20px;
  margin-top: 0;
}

.caseStudy .containCs .par {
  color: white;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 80px;
  line-height: 1.6em;
}

.caseStudy .containCs .btnCs {
  text-align: center;
  background: none;
  border: solid 1px white;
  padding: 6px 24px 6px 24px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.caseStudy .containCs .btnCs span {
  color: transparent;
  padding-left: 0px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.caseStudy .containCs .btnCs span i {
  position: absolute;
  padding-top: 3px;
  padding-right: 0px;
}

.caseStudy .containCs .btnCs:hover {
  color: white;
  border: solid 1px;
  padding: 6px 20px 6px 24px;
}

.caseStudy .containCs .btnCs:hover span {
  color: white;
  padding-left: 18px;
  padding-right: 5px;
}

.caseStudy .labzoneCsPhone {
  position: absolute;
  top: 700px;
  width: 400px;
  right: 18%;
}

.contact .containCont {
  margin-top: 50px;
  margin-left: 18%;
  margin-right: 18%;
}

.contact .containCont .header {
  color: #393939;
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 0;
}

.contact .containCont .contForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact .containCont .contForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 20%;
}

.contact .containCont .contForm form .input-subject, .contact .containCont .contForm form .input-email, .contact .containCont .contForm form textarea {
  margin-top: 20px;
  border: #aaa 1px solid;
  padding: 9px 8px 8px 8px;
  border-radius: 3px;
  resize: none;
}

.contact .containCont .contForm form textarea {
  max-height: 100px;
}

.contact .containCont .contForm form label {
  color: #787878;
}

.contact .containCont .contForm form #submit {
  width: 150px;
  text-align: center;
  background: none;
  border: solid 1px #787878;
  padding-top: 7px;
  padding-bottom: 6px;
  border-radius: 50px;
  font-size: 1em;
  text-decoration: none;
  color: #393939;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  margin: 0 auto;
  margin-top: 20px;
}

.contact .containCont .contForm form #submit:hover {
  color: #393939;
  border: solid 1px #393939;
  cursor: pointer;
  width: 168px;
}

.contact .containCont .contForm .contInfo {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contact .containCont .contForm .contInfo .par {
  color: #787878;
  margin-top: 10px;
  line-height: 1.6em;
}

.contact .containCont .contForm .contInfo .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
}

.contact .containCont .contForm .contInfo .socialMedia i {
  color: #393939;
  font-size: 1.5em;
  margin-right: 30px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.contact .containCont .contForm .contInfo .socialMedia i:hover {
  color: #787878;
  cursor: pointer;
}

.requestDemo {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ed1a6b), to(#2d77bd));
  background-image: linear-gradient(90deg, #ed1a6b, #2d77bd);
  text-align: center;
  margin-top: 70px;
}

.requestDemo .contDemo {
  margin-left: 18%;
  margin-right: 18%;
}

.requestDemo .contDemo .header {
  color: white;
  font-size: 2em;
  font-weight: 900;
  padding-top: 30px;
  margin-bottom: 0;
}

.requestDemo .contDemo .par {
  color: white;
  line-height: 1.6em;
  margin-bottom: 35px;
  margin-top: 25px;
}

.requestDemo .contDemo wrapper {
  display: block;
  padding-bottom: 40px;
}

.requestDemo .contDemo wrapper .btnDemo {
  background: transparent;
  font-size: 1em;
  border: solid 1px white;
  padding: 6px 24px 6px 24px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.requestDemo .contDemo wrapper .btnDemo:hover {
  background: white;
  cursor: pointer;
  padding: 6px 33px 6px 33px;
  color: #ed1a6b;
}

#popupMain {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: none;
}

#popupMain .popupBody {
  background: white;
  border-radius: 2px;
  position: fixed;
  width: 85%;
  height: 65%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#popupMain .popupBody #popupExit {
  position: fixed;
  right: 10px;
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#popupMain .popupBody #popupExit p {
  margin: 0;
  font-size: 2.5em;
  font-family: arial;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

#popupMain .popupBody #popupExit p:hover {
  color: #787878;
  cursor: pointer;
}

#popupMain .popupBody form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 18%;
  padding-left: 18%;
}

#popupMain .popupBody form .header {
  color: #393939;
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 0;
}

#popupMain .popupBody form .input-subject, #popupMain .popupBody form .input-email, #popupMain .popupBody form textarea {
  margin-top: 20px;
  border: #aaa 1px solid;
  padding: 9px 8px 8px 8px;
  border-radius: 3px;
  resize: none;
}

#popupMain .popupBody form textarea {
  max-height: 100px;
}

#popupMain .popupBody form label {
  color: #787878;
}

#popupMain .popupBody form #submit {
  width: 150px;
  text-align: center;
  background: none;
  border: solid 1px #787878;
  padding-top: 7px;
  padding-bottom: 6px;
  border-radius: 50px;
  font-size: 1em;
  text-decoration: none;
  color: #393939;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  margin: 0 auto;
  margin-top: 20px;
}

#popupMain .popupBody form #submit:hover {
  color: #393939;
  border: solid 1px #393939;
  cursor: pointer;
  width: 168px;
}

.downCont {
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 50px;
}

.downCont .header {
  color: #393939;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}

.downCont .downContContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.downCont .downContContainer .sales, .downCont .downContContainer .management, .downCont .downContContainer .marketing {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  color: #787878;
  line-height: 1.6em;
}

.downCont .downContContainer .sales strong, .downCont .downContContainer .management strong, .downCont .downContContainer .marketing strong {
  color: #393939;
  font-size: 1.2em;
  line-height: 2em;
}

.downCont .downContContainer .sales .socialMedia, .downCont .downContContainer .management .socialMedia, .downCont .downContContainer .marketing .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 110px;
}

.downCont .downContContainer .sales .socialMedia i, .downCont .downContContainer .management .socialMedia i, .downCont .downContContainer .marketing .socialMedia i {
  color: #393939;
  font-size: 1.5em;
  margin-right: 30px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.downCont .downContContainer .sales .socialMedia i:hover, .downCont .downContContainer .management .socialMedia i:hover, .downCont .downContContainer .marketing .socialMedia i:hover {
  color: #787878;
  cursor: pointer;
}

.downCont .downContContainer .address {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  color: #787878;
}

.downCont .downContContainer .address strong {
  color: #393939;
  font-size: 1.2em;
  line-height: 2em;
}

footer {
  background: #393939;
  width: 100%;
  margin-top: 40px;
}

footer .footCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footCont .footUnit ul {
  list-style: none;
}

footer .footCont .footUnit ul li a {
  color: white;
  text-decoration: none;
  line-height: 1.6em;
  font-size: .9em;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

footer .footCont .footUnit ul li a:hover {
  color: #787878;
}

footer p {
  text-align: center;
  margin: 0;
  color: white;
  font-size: .85em;
  padding: 8px 0px 7px 0px;
}

@media screen and (max-width: 1200px) {
  .aboutUs, .caseStudy > .containCs, .contact > .containCont, .requestDemo > .contDemo, .downCont {
    margin-left: 4%;
    margin-right: 4%;
  }
  .contact .containCont .contForm form {
    padding-right: 10%;
  }
}

@media screen and (max-width: 864px) {
  .logo {
    padding: 0;
    margin-top: 18px;
  }
  .logoFix {
    margin-top: 11px !important;
  }
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
  }
  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-wrapper ul li:nth-child(1) a {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .nav-wrapper ul li:nth-child(2) a {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .nav-wrapper ul li:nth-child(3) a {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .nav-wrapper ul li:nth-child(4) a {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #393939;
    font-size: .85em;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#navClick:checked + .nav-btn {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#navClick:checked + .nav-btn i {
  background: #000;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#navClick:checked + .nav-btn i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

#navClick:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#navClick:checked + .nav-btn i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

#navClick:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#navClick:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=mains.css.map */