@import 'mains';

$darkGray: #393939;
$lightGray: #787878;
$marginInit: 18%;
$marginMob: 4%;
$grad: linear-gradient(+90deg, #ed1a6b, #2d77bd);

.privImg{
    background: url('imgs/press.jpg')no-repeat;
    background-size: cover;
    background-position: right;
    height: 500px;
    width: 100%;
}

.topHead{
    color: #393939;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wrapAll{
    width: 100%;
    padding-left: $marginInit;
    padding-right: $marginInit;
    .unit{
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        .unitImg1{
            background: url('imgs/press01.jpg')no-repeat center;
            background-size: cover;
            flex-basis: 30%;
            min-height: 230px;
            min-width: 320px;
        }
        .unitImg2{
            background: url('imgs/press02.jpg')no-repeat center;
            background-size: cover;
            flex-basis: 30%;
            min-height: 230px;
            min-width: 320px;
        }
        .unitTxt{
            flex-basis: 70%;
            align-self: center;
            margin-left: 50px;
            .head{
                color: #393939;
                font-size: 1.4em;
                font-weight: 900;
                margin-bottom: 0;
                margin-top: 0;
            }
            .pFirst{
                color: #787878;
                margin-top: 10px;
                line-height: 1.6em;
                margin-bottom: 15px;
                max-width: 600px;
            }
            a{
                color: #2d77bd;
            }
        }
    }
    .kit{
        color: #393939;
        font-size: 1.4em;
        font-weight: 900;
        margin-bottom: 0;
    }
    ul{
        padding: 0;
        li {
            line-height: 1.6em;
            list-style: none;
            a{
                color: #2d77bd;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .wrapAll{
        padding-left: $marginMob;
        padding-right: $marginMob;
    }
}

@media screen and (max-width: 760px) {
    .privImg{
        height: 60px;
    }
    .topHead{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .wrapAll{
        .unit{
            flex-direction: column;
            .unitImg1, .unitImg2{
                min-height: 340px;
                min-width: unset;
            }
            .unitTxt{
                margin-left: 0;
                margin-top: 30px;
                align-self: initial;
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .wrapAll{
        .unit{
            .unitImg1, .unitImg2{
                min-height: 200px;
            }
            .unitTxt{
                margin-top: 20px;
            }
        }
    }
}