@import 'mains';

$darkGray: #393939;
$lightGray: #787878;
$marginInit: 18%;
$marginMob: 4%;
$grad: linear-gradient(+45deg, #2E1954, #EC1C6C);

//video animation settings
.wrapVid{
    display: flex;
    max-height: 1080px;
    overflow: hidden;
    justify-content: center;
    #vidOn{
        opacity: 1;
        transition-duration: .5s;
    }
    #tagline{
        position: absolute;
        left: 50%;
        margin: 0;
        transform: translateX(-50%);
        opacity: 0;
        transition-duration: 1s;
        text-align: center;
        top: 410px;
        h1{
            color: white;
            font-size: 3em;
            margin: 0;
            text-shadow: rgba($color: #000000, $alpha: .2) 3px 3px 2px;
        }
        p{
            color: white;
            font-size: 1.2em;
            line-height: 1.6em;
            text-shadow: rgba($color: #000000, $alpha: .2) 3px 3px 2px;
        }
        button{
            background: white;
            box-shadow: rgba($color: #000000, $alpha: .2) 0px 3px 2px;
            border: none;
            font-size: 1em;
            padding: 6px 24px 6px 24px;
            border-radius: 50px;
            margin-top: 5px;
            user-select: none;
            outline: none;
            transition-duration: .2s;
            &:hover{
                padding: 6px 34px 6px 34px;
                cursor: pointer;
            }
        }
    }
    #subtagline{
        position: absolute;
        left: 50%;
        margin: 0;
        transform: translateX(-50%);
        opacity: 0;
        transition-duration: 1s;
        color: white;
    }
}
//clients logos
.aboutUs{
    .moreClients{
        background: transparent;
        font-size: 1em;
        border: solid 1px $darkGray;
        padding: 6px 24px 6px 24px;
        border-radius: 50px;
        color: $darkGray;
        text-decoration: none;
        transition-duration: .2s;
        margin-top: 20px;
        &:hover{
            border-color: $lightGray;
          cursor: pointer;
          padding: 6px 33px 6px 33px;
          color: $lightGray;
        }
    }
}
//more btn
.showMore{
    width: 100%;
    text-align: center;
    .moreStudies{
        background: transparent;
        font-size: 1em;
        border: solid 1px $darkGray;
        padding: 6px 24px 6px 24px;
        border-radius: 50px;
        color: $darkGray;
        text-decoration: none;
        transition-duration: .2s;
        margin-top: 40px;
        &:hover{
            border-color: $lightGray;
        cursor: pointer;
        padding: 6px 33px 6px 33px;
        color: $lightGray;
        }
    }
}
//appcontent
.contAr{
    display: flex;
    flex-direction: row;
    padding-left: $marginInit;
    padding-right: $marginInit;
    height: 700px;
    justify-content: center;
    .textAr{
        flex-basis: 50%;;
        align-self: center;
        margin-right: 25px;
        h1{
            color: $darkGray;
            font-size: 1.5em;
            font-weight: 900;
            margin-bottom: 0;
        }
        p{
            color: $lightGray;
            margin-top: 10px;
            margin-bottom: 30px;
            line-height: 1.6em;
            margin-bottom: 15px;
            max-width: 600px;
        }
        a{
            text-decoration: none;
            color: $darkGray;
            font-weight: bolder;
            i{
                padding-left: 5px;
                transition-duration: .2s;
            }
            &:hover{
                color: $lightGray;
                i{
                    color: $lightGray;
                    padding-left: 10px;
                }
            }
        }
    }
    .imgAr1{
        flex-basis: 50%;
        background: url('imgs/ar_app.jpg')no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: 25px;
        min-width: 470px;
    }
    .imgAr2{
        flex-basis: 50%;
        background: url('imgs/heymat_app.png')no-repeat;
        background-position: center;
        background-size: cover;
        min-width: 470px;
        margin-right: 25px;
    }
    .imgAr3{
        flex-basis: 50%;
        background: url('imgs/ar_platform.jpg')no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: 25px;
        min-width: 470px;
    }
}
.flip{
    flex-direction: row-reverse;
    .textAr{
        margin-right: 0;
        margin-left: 25px;
    }
    .imgAr{
        margin-left: 0;
        margin-right: 25px;
    }
}
.howHead{
    margin-top: 50px;
    text-align: center;
}
//highlights
.highlights{
    display: flex;
    flex-direction: row;
    padding-left: $marginInit;
    padding-right: $marginInit;
    margin-top: -30px;
    margin-bottom: 40px;
    .highUnit{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        br{
            display: none;
        }
        h1{
            color: $darkGray;
            font-weight: 900;
            margin-bottom: 0px;
            margin-top: 5px;
            &:first-of-type{
                color: #2d77bd;
            }
        }
        p{
            margin-top: 0;
            color: $lightGray;
            line-height: 1.6em;
        }
    }
}
//process
.how{
    width: 100%;
    padding-left: $marginInit;
    padding-right: $marginInit;
    background: $grad;
    .howHead{
        margin-top: 0px;
        text-align: center;
        h1{
            color: white;
            padding-top: 40px;
            font-weight: 600;
            font-size: 2em;
            margin-bottom: 0;
        }
    }
    .processFlex{
        display: flex;
        flex-direction: row;
        width: 100%;
        .processUnit{
            display: flex;
            flex-direction: column;
            flex-basis: 25%;
            justify-content: center;
            &:nth-of-type(2){
                margin-left: 40px;
                margin-right: 20px;
            }
            &:nth-of-type(3){
                margin-left: 20px;
                margin-right: 40px;
            }
            .under1{
                background: url('imgs/user.svg')no-repeat center;
                background-size: cover;
                width: 80px;
                height: 80px;
                margin: 0 auto;
                margin-top: 30px;
            }
            .under2{
                background: url('imgs/sales.svg')no-repeat center;
                background-size: cover;
                width: 80px;
                height: 80px;
                margin: 0 auto;
                margin-top: 30px;
            }
            .under3{
                background: url('imgs/retail.svg')no-repeat center;
                background-size: cover;
                width: 80px;
                height: 80px;
                margin: 0 auto;
                margin-top: 30px;
            }
            .under4{
                background: url('imgs/exhibition.svg')no-repeat center;
                background-size: cover;
                width: 80px;
                height: 80px;
                margin: 0 auto;
                margin-top: 30px;
            }
            .header{
                span{
                    display: none;
                }
                margin-top: 30px;
                color: white;
                z-index: 2;
                font-weight: 600;
                margin-bottom: 0;
                text-align: center;
            }
            p{
                color: white;
                z-index: 2;
                margin-top: 10px;
                line-height: 1.6em;
                font-size: .9em;
                padding-bottom: 40px;
            }   
        }
    }
}
//video gallery preview
.vidGal{
    display: flex;
    flex-direction: row;
    padding-left: $marginInit;
    padding-right: $marginInit;
    margin-top: 45px;
    margin-bottom: 40px;
    justify-content: center;
    .vidUnit{
        flex-basis: 50%;
        text-align: center;
        &:nth-of-type(1){
            margin-right: 20px;
        }
        &:nth-of-type(2){
            margin-left: 20px;
            margin-right: 20px;
        }
        &:nth-of-type(3){
            margin-left: 20px;
        }
        h1{
            color: $darkGray;
            margin-bottom: 5px;
        }
        p{
            color: $lightGray;
            line-height: 1.6em;
            margin-top: 0;
        }
        .video{
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
            iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
//more vid btn
.moreVids{
    width: 100%;
    text-align: center;
    .showMoreVids{
        background: transparent;
        font-size: 1em;
        border: solid 1px $darkGray;
        padding: 6px 24px 6px 24px;
        border-radius: 50px;
        color: $darkGray;
        text-decoration: none;
        transition-duration: .2s;
        &:hover{
            border-color: $lightGray;
        cursor: pointer;
        padding: 6px 33px 6px 33px;
        color: $lightGray;
        }
    }
}
//blog section
.blogCont{
    width: 100%;
    padding-left: $marginInit;
    padding-right: $marginInit;
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    margin-bottom: 40px;
    .blogUnit{
        flex-basis: 50%;
        &:nth-of-type(1){
            margin-right: 20px;
        }
        &:nth-of-type(2){
            margin-left: 20px;
            margin-right: 20px;
        }
        &:nth-of-type(3){
            margin-left: 20px;
        }
        h1{
            color: $darkGray;
            margin-bottom: 10px;
        }
        p{
            color: $lightGray;
            line-height: 1.6em;
            margin-top: 0;
        }
        .bimg1{
            background: url('https://cdn-images-1.medium.com/max/800/1*rkNGb5rveu1jnfg3HtvMOA.png')no-repeat;
            background-position: left;
            background-size: cover;
            width: 100%;
            height: 260px;
        }
        .bimg3{
            background: url('https://cdn-images-1.medium.com/max/800/1*COXRwvIMTZ2dzt3q5MmnQg.jpeg')no-repeat;
            background-position: bottom;
            background-size: cover;
            width: 100%;
            height: 260px;
        }
    }
}
//testimonials
.wrapTest{
    padding-left: $marginInit;
    padding-right: $marginInit;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    .testUnit{
        flex-basis: 33.3%;
        box-shadow: rgba(0, 0, 0, .15) 1px 1px 10px;
        padding: 10px 20px;
        border-radius: 2px;
        .testImg1{
            background: url('imgs/doris.jpg')no-repeat center;
            background-size: cover;
            height: 90px;
            width: 90px;
            border-radius: 50px;
            margin: 0 auto;
        }
        .testImg2{
            background: url('imgs/heat.jpg')no-repeat center;
            background-size: cover;
            height: 90px;
            width: 90px;
            border-radius: 50px;
            margin: 0 auto;
        }
        .testImg3{
            background: url('imgs/klybeck.jpg')no-repeat center;
            background-size: cover;
            height: 90px;
            width: 90px;
            border-radius: 50px;
            margin: 0 auto;
        }
        .testImg4{
            background: url('imgs/greenmood.jpg')no-repeat center;
            background-size: cover;
            height: 90px;
            width: 90px;
            border-radius: 50px;
            margin: 0 auto;
        }
        &:nth-of-type(2){
            margin-left: 50px;
            margin-right: 25px;
        }
        &:nth-of-type(3){
            margin-left: 25px;
            margin-right: 50px;
        }
        i{
            display: block;
            color: $lightGray;
            margin-top: 5px;
            font-size: .9em;
            line-height: 1.6em;
        }
        p{
            color: $darkGray;
            margin-top: 10px;
            font-weight: bold;
            span{
                color: #2d77bd;
            }
        }
    }
}

/////////////////////////////MEDIAQUERIES///////////////////////////////////
/////////////////////////////MEDIAQUERIES///////////////////////////////////
/////////////////////////////MEDIAQUERIES///////////////////////////////////
@media screen and (max-width: 1600px) {
    .wrapVid{
        #tagline{
            top: 320px;
        }
    }
    .wrapTest{
        justify-content: center;
        flex-wrap: wrap;
        .testUnit{
            flex-basis: 50%;
            max-width: 45%;
            &:nth-of-type(1){
                margin-left: 0;
                margin-right: 25px;
            }
            &:nth-of-type(2){
                margin-right: 25px;
                margin-left: 0;
            }
            &:nth-of-type(3){
                margin-left: 0;
                margin-right: 25px;
                margin-top: 20px;
            }
            &:nth-of-type(4){
                margin-top: 20px;
                margin-right: 25px;
                margin-left: 0;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .wrapVid{
        max-height: 520px;
        #tagline{
            top: 200px;
        }
    }
    .blogCont, .vidGal{
        padding-left: $marginMob;
        padding-right: $marginMob
    }
}
@media screen and (max-width: 1200px) {
    .contAr, .highlights{
        padding-left: $marginMob;
        padding-right: $marginMob;
    }
    .highlights{
        margin-top: 0;
    }
    .how{
        padding-left: $marginMob;
        padding-right: $marginMob;
        .processFlex{
            .processUnit{
                
                .under{
                    margin-left: -40px;
                }
            }
        }
    }
    .wrapTest{
        padding-left: $marginMob;
        padding-right: $marginMob;
    }
}
@media screen and (max-width: 1000px) {
    .wrapVid{
        max-height: 500px;
        #vidOn{
            margin-top: 50px;
        }
        #tagline{
            top: 200px;
            h1{
                font-size: 2.2em;
            }
            p{
                font-size: 1em;
                margin-top: 0;
            }
        }
    }
    .mainHeader{
        margin-top: 0;
    }
    .howHead{
        margin-top: 40px;
    }
    .how{
        .processFlex{
            flex-wrap: wrap;
            justify-content: center;
            .processUnit{
                flex-basis: 40%;
            }
        }
    }
    
}
@media screen and (max-width: 860px) {
    .contAr{
        height: 500px;
        .textAr{
            h1{
                font-size: 1.15em !important;
                margin-top: 0px;
            }
        }
        .imgAr1, .imgAr2, .imgAr3, .textAr{
            margin: 0;
        }
        .imgAr2{
            margin-right: 25px;
        }
        .imgAr, .imgar1, .imgAr2, .imgAr3{
            min-width: 360px;;
        }
    }
    .how{
        .processFlex{
            flex-direction: column;
            .processUnit{
                margin-top: 10px;
                margin-bottom: 10px;
                max-width: 500px;
                align-self: center;
                &:nth-of-type(1){
                    margin-top: 30px;
                }
                &:nth-of-type(2){
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-left: 0;
                    margin-right: 0;
                }
                &:nth-of-type(4){
                    padding-bottom: 15px;
                }
                .under1{
                    margin-top: 0px;
                }
                .under2, .under3{
                    margin-top: 10px;
                }
                .header{
                    margin-top: 15px;
                }
                p{
                    padding-bottom: 0;
                }
            }
        }
    }
    .vidGal{
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 0;
        .vidUnit{
            margin-left: 0 !important;
            margin-right: 0 !important;
            h1, p{
                display: none;
            }
            &:nth-of-type(2){
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
    .blogCont{
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 0;
        .blogUnit{
            margin-left: 0 !important;
            margin-right: 0 !important;
            &:nth-of-type(2){
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
    .contact {
        .containCont{
            .contForm{
                form{
                    text-align: center;
                }
            }
        }
    }
    .contact{
        .containCont{
            .header{
                text-align: center;
            }
        }
    }
    .contAr{
        .textAr{
            wrapper{
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 770px) {
    .aboutUs{
        margin: 20px 0px;
        .moreClients{
            margin-top: 10px;
        }
    }
    .wrapVid{
        #tagline{
            width: 100%;
            max-width: 400px;
            top: 150px;
        }
    }
    .contAr{
        flex-direction: column;
        height: 670px;
        .textAr{
            flex-basis: 30%;
            margin-top: 30px;
        }
        .imgAr1, .imgAr2, .imgAr3{
            flex-basis: 70%;
            max-width: 500px;
            justify-self: center;
            margin: 0 auto;
        }
    }
    .highlights{
        flex-wrap: wrap;
        margin-top: -10px;
        margin-bottom: 20px;
        .highUnit{
            br{
                display: block;
            }
            flex-basis: 50%;
            &:nth-child(3){
                margin-top: 15px;
            }
            &:nth-child(4){
                margin-top: 15px;
            }
        }
    }
}
@media screen and (max-width: 630px) {
    .wrapVid > #vidOn{
        margin-top: 60px;
    }
    .how{
        .processFlex{
            .processUnit{
                max-width: 320px;
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .contAr{
        flex-direction: column;
        height: 790px;
        .textAr{
            flex-basis: 20%;
            margin-bottom: 0px;
            margin-top: 0px;
            h1{
                text-align: center;
            }
        }
        .imgAr1, .imgAr2, .imgAr3{
            flex-basis: 80%;
        }
    }
    #case1{
        margin-top: 0;
    }
    .howHead{
        font-size: 1.2em;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .how{
        .processFlex{
            .processUnit{
                .under{
                    display: none;
                }
                .header{
                    margin-top: 0;
                    span{
                        display: inline;
                    }
                }
            }
        }
    }
    .wrapTest{
        .testUnit{
            flex-basis: 100%;
            max-width: unset;
            margin-top: 20px;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}
@media screen and (max-width: 550px) {
    .wrapVid{
        max-height: 320px;
        #tagline{
            display: none;
        }
    }
    .contAr{
        flex-direction: column;
        height: 720px;
        .imgAr1, .imgAr2, .imgAr3{
            flex-basis: 70%;
            margin-top: 2%;
            margin-bottom: 2%;
            min-width: unset;
            margin: unset;
        }
    }
    .flip{
        margin-top: 2%;
    }
    .blogCont{
        .blogUnit{
            .bimg1, .bimg3{
                height: 200px;
            }
            h1{
                font-size: 1.2em !important;
                line-height: 1.45em;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .contAr{
        height: 640px;
    }
}
